<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bsww201.localtoken.localtoken">

    <!--node.js와 통신하기 위해 인터넷 연결 허용하는 퍼미션 설정-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 로그인 하는 main 액티비 -->
        <activity android:name=".MainActivity"
            android:label="@string/action_sign_in">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 회원 가입하는 액티비티 -->
        <activity android:name=".SignUpActivity"
            android:label="@string/action_sign_up">
        </activity>

    </application>

</manifest>